<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static',filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static',filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static',filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static',filename='favicon_io/site.webmanifest') }}">

    <title>K2P</title>

</head>

<body>


<!--########################-->
<div id="user">
    {% if is_access_token_required %}
        <a href="{{ url_for('main.request_access_token') }}">Authorize</a>
    {% endif %}

    {% if 'user' in session %}
        {{ session['user'] }} <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
</div>
<!--###########################-->


<span id="main_container">

        <header>
            <img id="p2k" src="{{ url_for('static',filename='icons/p2k.png') }}">
            <p>Save from kindle browser to your Pocket, for free.</p>
            &nbsp;
        </header>


        <div id="login_container">

            {% if 'user' not in session %}

                <form action="{{ url_for('auth.login') }}" method="POST">
                <input id="login" type="radio" name="tab"/>
                <label class="tab_label" for="login">log in</label>
                <input id="signup" type="radio" name="tab"/>
                <label class="tab_label" for="signup">sign up</label>
                <figure class="reveal_login">
                    <p>Please log in with your account.</p>
                    <input type="email" placeholder="email" name="login_email"/>
                    <input type="password" placeholder="password" name="login_pass"/>
                    <!-- <input id="logged_in" type="checkbox"/>
                    <label class="content_label" for="logged_in">Keep me logged in</label> -->
                    <input type="submit" value="Log in"/>
                </figure>
                <figure class="reveal_signin">
                    <p>You can register a new account.</p>
                    <input type="email" placeholder="email" name="signup_email"/>
                    <input type="password" placeholder="password" name="signup_pass1"/>
                    <input type="password" placeholder="confirm password" name="signup_pass2"/>
                    <input type="submit" value="Sign up"/>
                </figure>
            </form>

            {% else %}
{#                {% if show_item_url %}#}
                    <div class="message">
                    {{ session['show_item_url'] }} aDdEed to pocket
                        <!-- Flash messages -->
                        {% with messages=get_flashed_messages(with_categories=True) %}
                            {% if messages %}
                                {% for category,message in messages %}
{#                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">#}
    {{ message }}
{#    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#        <span aria-hidden="true">&times;</span>#}
{#    </button>#}
{#</div>#}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    </div>
{#                {% endif %}#}
            {% endif %}

        </div>
</span>

<footer>
    <span>&copy 2020 aqdasak</span>
    <span>
                <a href="https://github.com/aqdasak" target="_blank"><img
                        src="{{ url_for('static', filename='icons/github.png') }}" alt="github" height="40px"></a>

                <a href="mailto:aqdasak@gmail.com"><img src="{{ url_for('static', filename='icons/gmail.svg') }}"
                                                        alt="mail" height="40px"></a>
            </span>
</footer>
</body>
</html>