/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffd0b3;
    font-family: 'Montserrat';
    height: 100vh;
}

#user {
    color: #ffa369;
    font-weight: bold;
    text-align: right;
    padding: 0.3rem 0.5rem;
}

#main_container {
    /*height: 1vh;*/
}

header {
    /*padding: 10px 250px;*/
    padding: 1vw;
    height: 17vw;
}

header img {
    display: block;
    margin: auto;
    width: 65vw;
    height: auto;
}

header p {
    color: white;
    text-align: center;
    font-size: 2.3vw;
    margin-top: 1.1rem;
}

#login_container {
    height: 51vh;
}

.message {
    display: flex;
    height: 17rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    color: #f29100;
    /*text-align: center;*/
}

footer {
    position: sticky;
    bottom: 0;
}

footer div {
    display: flex;
    padding: 0rem 0.5rem;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: bold;
}

footer img {
    width: 1.8rem;
    height: auto;
    margin: 0rem 0.2rem;
}
